<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="ProductContext" connectionString="Database=XDEMO;User ID=administrator;Password=pass;Server=191.34.56.11;Pooling=false;ServerType=universe;ConnectTimeout=360;PersistSecurityInfo=true;" providerName="U2.Data.Client" />
    <add name="XDEMOEntities" connectionString="metadata=res://*/Product2.csdl|res://*/Product2.ssdl|res://*/Product2.msl;provider=U2.Data.Client;provider connection string=&quot;Database=XDEMO;User ID=administrator;Password=pass;Server=191.34.56.11;Persist Security Info=True;ServerType=universe;AccessMode=Uci&quot;" providerName="System.Data.EntityClient" />
    <add name="XDEMOEntities1" connectionString="metadata=res://*/Product3.csdl|res://*/Product3.ssdl|res://*/Product3.msl;provider=U2.Data.Client;provider connection string=&quot;Database=XDEMO;User ID=administrator;Password=pass;Server=191.34.56.11;Persist Security Info=True;ServerType=universe;AccessMode=Uci&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"><assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /></assemblies></compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>