<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="DEMO_UV"
         connectionString="Database=HS.SALES;User ID=user;Password=pass;Server=localhost;Persist Security Info=True;ServerType=universe;" />
    <add name="DEMO_UD"
         connectionString="Database=demo;User ID=user;Password=pass;Server=localhost;Persist Security Info=True;ServerType=unidata;" />

  </connectionStrings>
</configuration>
